*{
    margin:0;
    padding:0;
}


.image-div{
    margin: 10px;
    border: 1px solid red;
    float: left;
    width: 200px;
    border-radius: 20px;
    color: aqua;
}
.image-div img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    
}
.desc{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 100px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.image-div:hover{
    border: 1px solid aqua;
    background-color: cyan;
    color: white;
    box-shadow: 5px 10px black;
}
