*{
    margin: 0;
    padding: 0;

}
div{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    padding: 10px;
  /*  text-align: left;*/

}
h2{
    color: blue;
   /* text-align: center;*/
    direction: rtl;
    unicode-bidi: embed;
    vertical-align: text-bottom;
    text-decoration-line:overline;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;
    text-decoration-color: brown;
    text-decoration: underline red wavy 5px;
    
}
p{
    color: aqua;
    vertical-align: text-bottom ;
    text-indent:20pxpx ;
    letter-spacing: 0px;
    line-height: 20px;
    word-spacing: 5px;
    white-space: nowrap;
}
h3 {
   /* vertical-align: text-top;*/
   text-transform:none;
   font-size: 40px;
   text-shadow: 10px 0px 0px red;

}
a{
    color: red;
    text-decoration: none;
}
.wrap{
    height: 30px;
    width: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 30px;
    width: 100px;
    border: none;
    background-color:white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px red;
    font-size: 24px;
    font-weight: 500;
    color: black;
}
button{
    color: brown;
}
.button:hover{
    background-color: #2ee59d;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    color: white;
    
    transition: all 0.3s ease 0s;
}