*{
    margin:0;
    padding:0;

}
body{
    padding:20px;

}


.container input{
    position: absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0;

}
.container{
    display:block;
    position: relative;
    cursor: pointer;
    font-size:20px ;
}

.checkmark{
    position: relative;
    top:0;
    left:0;
    height:20px;
    width:20px;
    background-color:#ccc;
    border-radius: 5px;
    transition: 0.3 all;
}
.container input:checked ~ .checkmark{
    background-color: cyan;
    animation: pop 0.5s;
    animation-direction: alternate;

}
.checkmark:after{
    content:"";
    position: absolute;
    display:none;
}
.container input:checked ~ .checkmark:after{
    display: block;
}
.container .checkmark:after{
    left:7px;
    top:4px;
    width:4px;
    height:8px;
    border:solid white;
    border-width: 0 2px 2px 0;
    transform:rotate(45deg);
}
@keyframes pop{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}